ul {
    max-height: 0;
    overflow: hidden;
}

input:checked~ul {
    max-height: 500px;
}

input {
    display: none;
}

#trending ::-webkit-scrollbar {}

#trending ::-webkit-scrollbar-track {}

#trending ::-webkit-scrollbar-thumb {}

#trending ::-webkit-scrollbar-thumb:hover {}

#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {}

#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {}

#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {}

#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {}

audio::-webkit-media-controls-mute-button {}

audio::-webkit-media-controls-play-button {}

audio::-webkit-media-controls-enclosure {}